<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOMEPAGE</h1>
    
</body>
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/blog-notifications/');

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        alert(data.message);  // You can show it via toast/notification
    };

    socket.onclose = function(e) {
        console.error("WebSocket closed unexpectedly");
    };
</script>

</html>